<!-- templates/apis.html -->
{% extends "_base.html" %}
{% block content %}
<!-- CONTENT -->
<div id="content" data-uk-height-viewport="expand: true">
  <div class="uk-container uk-container-expand">
    <hr>
    <div class="uk-grid uk-grid-medium" data-uk-grid uk-sortable="handle: .sortable-icon">
      <!-- panel -->
      <div class="uk-width-1-1@l">
        <div class="uk-card uk-card-default uk-card-small">
          <div class="uk-card-header">
            <div class="uk-grid uk-grid-small">
              <div class="uk-width-auto">
                <h3>RestAPIs</h3>
              </div>
            </div>
          </div>
          <div class="uk-card-body">
            <div class="chart-container">
              <p>Goto <a href="/docs">/docs</a> for the built-in swagger API documentation.</p>
              <h4>Hash Generator</h4>
              <code>curl -X 'GET' 'http://0.0.0.0:8000/api/hashgen' -H 'accept: application/json'</code>
            </div>
          </div>
          <div class="uk-card-body">
            <div class="chart-container">
              <h4>Warner Character CRUD</h4>
              <p>Read all records:</p>
              <code>curl -X 'GET' 'http://127.0.0.1:8000/api/warner/read' -H 'accept: application/json'</code>

              <p>Read single record by ID:</p>
              <code>curl -X 'GET' 'http://0.0.0.0:8000/api/warner/read/e5a9a6c6-5cef-4c75-b7d5-59fafb67e0c3' -H 'accept: application/json'</code>
            </div>
          </div>
        </div>
      </div>
      <!-- /panel -->
    </div>
    <footer class="uk-section uk-section-small uk-text-center">
      <hr>
      <p class="uk-text-small uk-text-center">Copyright 2022 - FastAPI Toolkit | Built with <a href="https://fastapi.tiangolo.com" title="FastAPI" target="_blank" data-uk-tooltip><span data-uk-icon="link"></span>FastAPI</a> </p>
    </footer>
  </div>
</div>
<!-- /CONTENT -->
{% endblock %}
